:root {

--bg: #0d0d0d;
--primary: #bd0003;
--text: #ffffff;
--card: #1a1a1a;

}

* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

body {

font-family: Arial;
background: var(--bg);
color: var(--text);

}

.header {

display: flex;
justify-content: space-between;
padding: 20px 10%;
background: black;

}

.nav a {

color: var(--primary);
margin-left: 20px;
text-decoration: none;

}

.hero {

display: flex;
justify-content: space-between;
align-items: center;
padding: 100px 10%;

}

.hero-img {

width: 300px;
border-radius: 50%;

}

.btn {

display: inline-block;
margin-top: 20px;
padding: 12px 25px;
background: var(--primary);
color: white;
text-decoration: none;
border-radius: 8px;

}

.section {

padding: 80px 10%;

}

.cards {

display: flex;
gap: 20px;

}

.card {

background: var(--card);
padding: 20px;
border-radius: 10px;
flex: 1;

}

.skills span {

background: var(--primary);
padding: 10px;
margin: 5px;
display: inline-block;
border-radius: 5px;

}

.footer {

text-align: center;
padding: 20px;
background: black;

}

@media(max-width:768px){

.hero {

flex-direction: column;

}

.cards {

flex-direction: column;

}

}

